/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxUe3wE-GEToUNK2qM7LuzNU1pkJHOglsot8dEuoslOCtbJ065Jg");
}
.row{
    padding: 50px;
    background-color:lightlategrey;
}
.new_idea{
    padding: 10px;
    margin: 10px;
}

.show{
    padding: 30px;
}
.new_user{
    padding: 10px;
    margin: 10px;
    text-align:center;
}
h1{
    text-align: center;
    color:lightcoral;
}

