<div class="row mx-1">
<% @ideas.each do |idea| %>  
<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="card mb-3 mx-3">
    <div class="card-body">
     <h5 class="card-title">
      <%= link_to idea.title,   
        idea_path(idea.id) %>
     </h5> 
     <p class="card-text">
      <%= idea.description %>
     </p>
    </div> 
 </div>   
 </div>     
<% end %>
</div>
